registry=https://registry.npmjs.org/
@autonix:registry=https://artifact-keeper.qtsolvdev.com/npm/qa-automation-libraries/
//artifact-keeper.qtsolvdev.com/npm/qa-automation-libraries/:_authToken=${AUTONIX_REGISTRY_TOKEN}
